<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <form id="create-form">
        <h4>CREATE ACCOUNT</h4> <br />
        <label>
            Username
            <input id="create-user" placeholder="Username" />
        </label>
        <label>
            Password
            <input id="create-pass" placeholder="Password" type="password" />
        </label>
        <button type="submit">Submit</button>
    </form>
    <br />
    <br />
    <form id="login-form">
        <h4>LOGIN</h4> <br />
        <label>
            Username
            <input id="login-user" placeholder="Username" />
        </label>
        <label>
            Password
            <input id="login-pass" placeholder="Password" type="password" />
        </label>
        <button type="submit">Submit</button>
    </form>
    <br />
    <br />
    <h1 id="msg"></h1>
    <script src="scripts/app.js"></script>
</body>
</html>